Resources/Country.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="country">
    <xs:complexType>
      <xs:all>
        <xs:element name="id" minOccurs="1" />
        <xs:element name="iso2_code" minOccurs="0" />
        <xs:element name="name_caps" minOccurs="0" />
        <xs:element name="name" minOccurs="0" />
        <xs:element name="iso3_code" minOccurs="0" />
        <xs:element name="num_code" minOccurs="0" />
        <xs:element name="visible" minOccurs="0" />
        <xs:element name="european" minOccurs="0" />
        <xs:element name="test" minOccurs="0" />
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>