Resources/Instrument.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="instrument">
    <xs:complexType>
      <xs:all>
        <xs:element name="id" minOccurs="1" />
        <xs:element name="name" minOccurs="0" />
        <xs:element name="test" minOccurs="0" />
        <xs:element name="created" minOccurs="0" />
        <xs:element name="updated" minOccurs="0" />
        <xs:element name="deleted" minOccurs="0" />
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>